<!-- TODO: 好多人來這裡了... 要不要直接先分流出去...? -->
<div fxLayout="column" fxFlexFill>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <button mat-icon-button (click)="back();">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-form-field class="user-name-field">
          <input matInput [(ngModel)]="userName" />
        </mat-form-field>
        <label><span fxHide.lt-sm>{{'_S' | translate}}</span>{{'SURVEY_FORMNAME' | translate}}</label>
      </div>
      <!-- 小版顯示點點選單 -->
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">

        <button mat-icon-button [matMenuTriggerFor]="actionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <ng-container *ngTemplateOutlet="menuActions"></ng-container>
        </mat-menu>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center" class="result-container">
    <div #result fxLayout="column" id="result" style="width: 100%;" fxLayoutAlign="center center">
      <mat-card fxLayout="column" fxLayoutAlign="start center" style="width: 100%;">
        <h4 *ngIf="sharing && userName && userName.length > 0">{{userName}} {{'_S' | translate}}{{'SURVEY_FORMNAME' |
          translate}}</h4>

        <div fxLayout="row" *ngFor="let option of options; let optionIndex = index;" style="width: 100%">
          <div fxLayout="column" fxLayoutGap="8px" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
              <div *ngFor="let subOption of option;let subOptionIndex = index;"
                (click)="setEditingOption(option, subOptionIndex);$event.stopPropagation()">
                <!-- 編輯中Input-->
                <ng-container *ngIf="isEditingOption(option, subOptionIndex); else labelTemplate">
                  <mat-form-field>
                    <textarea matInput (blur)="saveValueChange()" #input
                      [ngModel]="options[optionIndex][subOptionIndex]"
                      (ngModelChange)="onValueChange($event)"></textarea>
                  </mat-form-field>
                </ng-container>
                <!-- 單純顯示文字 -->
                <ng-template #labelTemplate>
                  <span class="option-label">{{subOption || '--'}}</span>
                </ng-template>
              </div>
            </div>
            <!-- 比例滑條 -->
            <input type="range" class="slider" min="0" max="100" value="50" style="width: 100%;">
          </div>
          <button mat-icon-button [matMenuTriggerFor]="optionMenu" *ngIf="!sharing">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #optionMenu="matMenu">
            <button mat-menu-item (click)="removeItem(option)">
              <label>{{'SURVEY_REMOVEITEM' | translate}}</label>
            </button>
          </mat-menu>
        </div>

        <ng-container *ngIf="!sharing">
          <br />
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex style="width: 100%">
            <button mat-button (click)="addItem()" color="primary">
              <mat-icon>add</mat-icon>
              <span>{{'SURVEY_ADDITEM' | translate}}</span>
            </button>
            <button mat-button (click)="shareResult()" color="accent">
              <mat-icon>download</mat-icon>
              <span>{{'SURVEY_SHARERESULT' | translate}}</span>
            </button>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>

  <!-- 右上角的動作選單 -->
  <ng-template #menuActions>
    <button mat-menu-item (click)="addItem()">
      <mat-icon>add</mat-icon>
      <label>{{'SURVEY_ADDITEM' | translate}}</label>
    </button>
    <button mat-menu-item (click)="shareWebsite()">
      <mat-icon>share</mat-icon>
      <label>{{'SURVEY_SHAREWEBSITE' | translate}}</label>
    </button>
    <button mat-menu-item (click)="shareResult()">
      <mat-icon>download</mat-icon>
      <label>{{'SURVEY_SHARERESULT' | translate}}</label>
    </button>
  </ng-template>
