<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="start center" style="max-width: 720px;">
  <mat-card fxLayout="column" fxLayoutAlign="start center">
    <h2 fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <mat-icon>article</mat-icon>
      <mat-form-field style="max-width: 128px;">
        <input matInput />
      </mat-form-field>
      <label>的自我認同表</label>
    </h2>

    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>男性</label>
      <label>中性</label>
      <label>女性</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>超陽剛</label>
      <label>中性</label>
      <label>超陰柔</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>異性戀</label>
      <label>雙、泛性戀</label>
      <label>同性戀</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>無性慾</label>
      <label>有性慾</label>
      <label>高度性慾</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>無戀愛傾向</label>
      <label>有戀愛情感的</label>
      <label>容易戀愛的</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>單一伴侶</label>
      <label>接受開放關係</label>
      <label>多角戀的</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex>
      <label>純純的性愛</label>
      <label>有點好奇</label>
      <label>全部的BDSM</label>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start space-between" fxFlex>
      <mat-slider>
        <input matSliderThumb>
      </mat-slider>
    </div>
  </mat-card>
</div>
