
mat-card {
  max-width: 720px;
}

img {
  width: 100%;
}

mat-form-field.user-name-field {
  width: 100% !important;
  @media screen and (max-width: 299px) {
    display: none;
  }
  @media screen and (max-width: 599px) {
    max-width: 128px;
  }
}

*:not(mat-icon) {
  @media screen and (max-width: 299px) {
    font-size: smaller;
  }
}
::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  // background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */

  border-radius: 50%;
  // background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#result {
  max-width: 720px;
  height: 100%;
  overflow: auto;
}

.option-label {
  white-space: pre-wrap;
}
