<div fxLayout="row" fxLayout.lt-md="column">
  <div class="example-container">
    <h2>代辦事項</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" fxLayout="row" *ngFor="let item of todo" cdkDrag fxLayoutAlign="space-bewteen center">
        <div fxFlex>
          {{item.name}}

        </div>
        <div>
          {{item.date | date:'yyyy/MM/dd HH:mm:ss'}}
          <br />
          {{ item.dueDate ? ((item.dueDate | date:'yyyy/MM/dd HH:mm:ss')) : ''}}
        </div>
        <button mat-icon-button color="warn" (click)="Delete(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <label *ngIf="!todo?.length">尚未有任何代辦</label>
    </div>
  </div>
  <mat-divider></mat-divider>

  <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #editDialog>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="8px">
    <h1 mat-dialog-title>新增或編輯代辦</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="standard">
        <mat-label>事件名稱</mat-label>
        <input matInput requied formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>開始日期</mat-label>
        <input matInput required formControlName="date" type="datetime-local">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>結束日期</mat-label>
        <input matInput formControlName="dueDate" type="datetime-local">
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button mat-button mat-dialog-close>取消</button>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="Submit()">儲存</button>
    </div>
  </form>

</ng-template>
