<mat-card fxLayout="column" fxLayoutGap="8px">
  <a fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" href="https://github.com/husano896/pwa"
    target="_blank">
    <mat-icon>link</mat-icon>
    <label>PWA on Github Repository </label>
  </a>
  <br />
  <a fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" href="https://husano896.github.io/" target="_blank">
    <mat-icon>link</mat-icon>
    <label>個人網站</label>
  </a>
  <h3>計畫</h3>
  <blockquote>
    目前還沒有確切的功能開發走向，大概是想到什麼功能，有興趣就會直接發上來的程度
  </blockquote>
</mat-card>
