<div fxLayout="column" fxLayoutGap="8px">
  <h2>同步</h2>
  <mat-card fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutGap="8px">

      <img *ngIf="user; else dummyImage" [src]="user.photoURL" class="user-image" alt="user-image" />
      <ng-template #dummyImage>
        <mat-icon>user</mat-icon>
      </ng-template>

      <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="space-between start">
        <mat-card-title>{{user?.displayName || '未登入'}}</mat-card-title>
        <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
      </div>
    </div>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center">
        Tip: 有<mat-icon>sync</mat-icon>圖示的代表支援同步功能！
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <mat-slide-toggle *ngIf="user" [(ngModel)]="autoSync">
        <mat-icon>{{autoSync ? 'sync' : 'sync_disabled'}}</mat-icon>
        <span>同步 {{autoSync ? '開啟' : '關閉'}}</span>
      </mat-slide-toggle>

      <button *ngIf="!user; else logoutButton" mat-button color="primary" (click)="login()">
        登入
      </button>

      <ng-template #logoutButton>
        <button mat-button color="error" (click)="logout()">
          登出
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>

  <mat-divider></mat-divider>

  <h2>一般</h2>
  <mat-action-list>
    <button mat-list-item>
      <span matLine>初次相遇</span>
      <p matLine>{{getFirstEncounterDate()}} </p>
    </button>
    <button mat-list-item (click)="openThemeBottomSheet()">
      <span matLine>主題顏色</span>
      <p matLine>目前設定：{{getCurrentThemeDisplayName()}}</p>
    </button>
    <button mat-list-item (click)="openAnimBottomSheet()">
      <span matLine>動畫</span>
      <p matLine>目前設定：{{getCurrentAnimDisplayName()}}</p>
    </button>
  </mat-action-list>

  <mat-divider></mat-divider>

  <h2>進階</h2>
  <mat-action-list>
    <button mat-list-item (click)="debugMode = !debugMode">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <span matLine>偵錯模式</span>
        <mat-checkbox [checked]="debugMode" (click)="debugMode = !debugMode;$event.stopPropagation()"></mat-checkbox>
      </div>
    </button>
    <button mat-list-item (click)="downloadDebuglog()">
      <span matLine>下載偵錯記錄檔 ({{debugLogSize}})</span>
    </button>

    <a mat-list-item href="./ngsw/state" target="_blank">
      <span matLine>確認Service Worker狀態</span>
    </a>

    <button mat-list-item (click)="resetServiceWorker()">
      <span matLine>清除快取與ServiceWorker </span>
    </button>

    <button mat-list-item (click)="resetAllSettings()">
      <span matLine>重設所有設定</span>
      <p matLine>此動作將移除所有記錄且不可逆轉！</p>
    </button>
  </mat-action-list>
  <mat-divider></mat-divider>

</div>

<ng-template #themeDialog>
  <h2>設定主題</h2>
  <mat-action-list>
    <button mat-list-item (click)="selectTheme('')">
      <span matLine>系統</span>
    </button>
    <button mat-list-item (click)="selectTheme('light')">
      <span matLine>明亮</span>
    </button>
    <button mat-list-item (click)="selectTheme('dark')">
      <span matLine>暗黑</span>
    </button>
  </mat-action-list>
</ng-template>

<ng-template #animDialog>
  <h2>設定動畫</h2>
  <mat-action-list>
    <button mat-list-item (click)="selectAnim(null)">
      <span matLine>系統</span>
    </button>
    <button mat-list-item (click)="selectAnim(false)">
      <span matLine>啟用</span>
    </button>
    <button mat-list-item (click)="selectAnim(true)">
      <span matLine>停用</span>
    </button>
  </mat-action-list>
</ng-template>
