<div fxLayout="column" fxLayoutGap="8px">
  <h2>一般</h2>
  <mat-action-list>
    <button mat-list-item>
      <span matLine>初次相遇</span>
      <p matLine>{{getFirstEncounterDate()}} </p>
    </button>
    <button mat-list-item (click)="openThemeBottomSheet()">
      <span matLine>主題顏色</span>
      <p matLine>目前設定：{{getCurrentThemeDisplayName()}}</p>
    </button>
  </mat-action-list>
  <mat-divider></mat-divider>
  <h2>進階</h2>
  <mat-action-list>
    <button mat-list-item (click)="debugMode = !debugMode">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <span matLine>偵錯模式</span>
        <mat-checkbox [checked]="debugMode"></mat-checkbox>
      </div>
    </button>
    <button mat-list-item (click)="downloadDebuglog()">
      <span matLine>下載偵錯記錄檔 ({{debugLogSize}})</span>
    </button>

    <a mat-list-item href="./ngsw/state" target="_blank">
      <span matLine>確認Service Worker狀態</span>
    </a>

    <button mat-list-item (click)="resetAllSettings()">
      <span matLine>重設所有設定</span>
      <p matLine>此動作將移除所有記錄且不可逆轉！</p>
    </button>
  </mat-action-list>
  <mat-divider></mat-divider>
</div>

<ng-template #themeDialog>
  <h2>設定主題</h2>
  <mat-action-list>
    <button mat-list-item (click)="selectTheme('')">
      <span matLine>系統</span>
    </button>
    <button mat-list-item (click)="selectTheme('light')">
      <span matLine>明亮</span>
    </button>
    <button mat-list-item (click)="selectTheme('dark')">
      <span matLine>暗黑</span>
    </button>
  </mat-action-list>
</ng-template>
