
@use "@angular/material" as mat;
@include mat.core();
@import 'material-icons/iconfont/material-icons.scss';

// Define a light theme
$light-primary: mat.define-palette(mat.$blue-palette);
$light-accent: mat.define-palette(mat.$pink-palette);

$negative: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $negative,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$blue-palette);
$dark-accent: mat.define-palette(mat.$pink-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $negative,
    ),
  )
);

body {
  margin: 0;
  overscroll-behavior-y: contain;
}

body[theme="light"] {
  $theme: light;
  @include mat.all-component-themes($light-theme);
}

body[theme="dark"] {
  $theme: dark;
  @include mat.all-component-themes($dark-theme);
  input:not(.mat-input-element),
  select:not(.mat-input-element),
  textarea:not(.mat-input-element) {
    background-color: #424242;
    color: white;
    -webkit-text-fill-color: white;
  }
}

textarea::-webkit-input-placeholder {
  color: gray !important;
}

mat-drawer-container {
  height: 100vh;
}

a {
  position: relative;
  color: #108ee9;
  text-decoration: none;
}

mat-icon.large-icon {
  font-size: 96px;
  width: 96px;
  height: 96px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(127, 127, 127, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 192, 192, 0.75);
  border-radius: 4px;
}

.-portrait-only {
  @media screen and (orientation: landscape) {
    display: none !important;
  }
}

.-landscape-only {
  @media screen and (orientation: portrait) {
    display: none !important;
  }
}

// 看有沒有更好的名稱...
.-fit-width-or-height {
  @media only screen and (orientation: portrait) {
    width: 100%;
    height: auto;
  }

  @media only screen and (orientation: landscape) {
    width: auto;
    height: 100%;
  }
}
@font-face {
  font-family: Sitka Text;
  src: url(./assets/fonts/sitka-small-652.ttf);
}
